.quote-card {
  --card-border-radius: 10px;

  display: flex;
  flex-direction: column;

  background-color: var(--card-bg-color);
  opacity: 0.85;

  border-radius: var(--card-border-radius);

  box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);

  width: 55%;
  min-width: 30vw;
  min-height: 20vh;


  &__text {
    flex: 1;
  }

  &__author {
    font-size: 0.85em;
    font-style: italic;
    text-align: right;
  }

  &__text,
  &__author {
    padding: 1em;
  }

  .button-group {
    font-size: large;

    .button:first-child {
      border-bottom-left-radius: var(--card-border-radius);
    } 
    
    .button:last-child {
        border-bottom-right-radius: var(--card-border-radius);
    }
  }
}