@import url('https://fonts.googleapis.com/css?family=Corben');

body, html, #root{
  margin: 0;
  padding: 0;  
  height: 100%;
}

:root {
  --card-bg-color: white;
  --primary-color: blueviolet;
}


#root {
  background-color: var(--primary-color);

  display: flex;

  align-items: center;
  justify-content: center;

  transition: background-color 0.2s linear;

  &, & * {
    font-family: Corben, sans-serif;
  }
}